body{
    margin: 0%;
    background-color: rgba(130, 129, 129, 0.548);
}

div{
    background-color: yellow;
    position: absolute;
    top: 25%;
    left: 30%;
    min-width: 350px;
    border: 1px solid white;
    border-radius: 4px;
    padding-left: 40px;
    box-shadow: 0 0 15px -2px #444444;
}
input{
    width: 300px;
    min-width: 100px;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    background-color: whitesmoke;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
input:focus{
    outline: none;
    color: rgb(95, 91, 91);
    background-color: rgba(70, 131, 180, 0.35);
}
button{
    margin: 5%;
    margin-left: 25%;
    width: 80px;
    border-radius: 4px;
    height: 40px;
    color: rgb(12, 11, 11);
    font-size: 18px;
    border: black solid;
    background-color: rgb(166, 214, 46);
    border-width: 2px;
}
form{
padding-top:25px;
padding-left: 5px;

}